{% extends 'base.html' %}

{% block content %}
    <h1>Index</h1>
    <p>I'm providing the content block in base.html</p>
    <div class="container">

        {% if items|length < 1 %}
            <p>There is nothing to show! Please, add an item!</p>
        {% else %}
            <table class="table"> <!-- table>thead>tr>th*3 -->
                <thead>
                <tr>
                    <th>Groceries</th>
                    <th>Added</th>
                    <th></th>
                </tr>
                </thead>
                <tbody> <!-- tbody>tr>td*3 -->

                {% for grocery in items %}
                    <tr>
                        <td>{{ grocery.name }}</td>
                        <td>{{ grocery.created.date() }}</td>
                        <td><a href="/delete/{{ grocery.id }}" class="btn btn-danger btn-sm">Delete</a></td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        {% endif %}

        {% include 'snippets/form.html' %}
        <!-- добавляю форму как отдельный сниппет -->

    </div>
{% endblock %}